<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav-main">
      <ul>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/">About</a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/pos/">Positions</a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/pub/">Publications\n pres</a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/pub/">Presentations</a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/blog/">blog</a></li>
      </ul>
    </nav>

    <div class="container content">
      <main>
        {{ content }}
      </main>

      <footer class="footer">
        
            <span>Sangkyu Son - </span> <a href="https://scholar.google.co.kr/citations?user=NYCkQZAAAAAJ&hl=ko&oi=ao"> Scholar</a>
        
        <div class="ftr-links">
          
        </div>
      </footer>
    </div>

  </body>
</html>
