<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav-main">
      <ul>
        <li class="logo"><a class="hvr-ripple-out" href="{{ site.baseurl }}/">sangkyu</a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/about/">about</a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/another/">another</a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/blog/">blog</a></li>
      </ul>
    </nav>

    <div class="container content">
      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <small>
            <span>Sangkyu Son</span> <a href="https://scholar.google.co.kr/citations?user=NYCkQZAAAAAJ&hl=ko&oi=ao"> Scholar</a>
        </small>
        <div class="ftr-links">
          
        </div>
      </footer>
    </div>

  </body>
</html>
